@tailwind components;
@tailwind utilities;

/**
 * 内外边距
 * eg: mt10 => margin-top: 10px !important;
 * eg: pt10 => padding-top: 10px !important;
 */
@each $i in 0, 5, 10, 15, 20, 25, 30, 35, 40 {
  .m#{$i} {
    margin: $i * 1px !important;
  }

  .ml#{$i} {
    margin-left: $i * 1px !important;
  }

  .mr#{$i} {
    margin-right: $i * 1px !important;
  }

  .mt#{$i} {
    margin-top: $i * 1px !important;
  }

  .mb#{$i} {
    margin-bottom: $i * 1px !important;
  }

  .p#{$i} {
    padding: $i * 1px !important;
  }

  .pl#{$i} {
    padding-left: $i * 1px !important;
  }

  .pr#{$i} {
    padding-right: $i * 1px !important;
  }

  .pt#{$i} {
    padding-top: $i * 1px !important;
  }

  .pb#{$i} {
    padding-bottom: $i * 1px !important;
  }
}

/**
 * 文本对齐方式
 * eg: text-center => text-align: center;
 */
@each $i in left, center, right {
  .text-#{$i} {
    text-align: $i;
  }
}

.main-title {
  padding-top: 10px;
  color: #000;
  display: flex;
  align-content: center;
  line-height: 32px;
  font-size: 18px;
  font-weight: 500;
}

.block {
  padding: 10px 0px;
}

.flash-table-expand {
  font-size: 0;
}

.flash-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

.user {
  padding: 10px;
}

.user > strong {
  color: #777;
  font-size: 15px;
  font-weight: 400;
}

.user > small {
  color: #9e9e9e;
}

.user-content {
  box-shadow: 2px 2px 4px #edecec;
  min-height: 500px;
}

.user-content > .profile {
  background: #edecec;
  padding: 10px;
  height: 500px;
  width: 220px;
}

.user-content > .profile > img {
  width: 100%;
}

.el-select {
  width: 100%;
}

.el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.el-range-editor .el-range-separator {
  padding: 0 !important;
}

.img-list {
  display: block !important;
}

.img-list > div > img {
  position: static !important;
  transform: none !important;
}

.text-btn-style {
  color: #409eff;
  cursor: pointer;
}

.meaning-wrap .meaning-item {
  margin-bottom: 20px;
}

.meaning-wrap .meaning-item .tit {
  font-weight: 600;
  font-size: 15px;
}

.meaning-wrap .meaning-item .sub {
  font-size: 14px;
  line-height: 22px;
}

.red-label {
  color: #ff0000;
}

.blue-label {
  color: #409eff;
  cursor: pointer;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.flex,
.flex-x {
  display: flex;
}

.flex-x {
  flex-direction: row;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-x-start {
  color: red;
}

.flex-x-start,
.flex-x-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-x-start-center {
  align-items: center;
}

.flex-x-space,
.flex-x-space-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-x-center,
.flex-x-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-x-center-center {
  align-items: center;
}

.flex-x-0-center {
  align-items: center;
}

.flex-x-icon-right {
  align-items: right;
}

.flex-x-0-center,
.flex-x-end {
  display: flex;
  flex-direction: row;
}

.flex-x-end {
  justify-content: flex-end;
}

.flex-x-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-x-between,
.flex-x-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-x-between-center {
  align-items: center;
}

.flex-x-around,
.flex-x-around-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-x-around-center {
  align-items: center;
}

.flex-y-start,
.flex-y-start-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-y-start-center {
  justify-content: center;
}

.flex-y-center,
.flex-y-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-y-center-center {
  justify-content: center;
}

.flex-y-end,
.flex-y-end-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-y-end-center {
  justify-content: center;
}

.flex-y-between {
  justify-content: space-between;
}

.flex-y-around,
.flex-y-between {
  display: flex;
  flex-direction: column;
}

.flex-y-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.ant-btn-primary {
  color: #231815;

  &:hover {
    color: #231815;
  }

  &::selection {
    color: #231815;
  }
}

.ant-btn-link {
  color: #2d8dfd;
}

.ant-menu-sub.ant-menu-inline {
  background: #fff;
}

.ant-menu-item {
  font-weight: 400;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  color: #231815;
  font-weight: 500;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #fdf4d0;
}

.ant-switch-checked .ant-switch-handle {
  left: calc(60%);
}

.p-main-padding {
  padding: 25px;
}

// 使头部修改密码至于最上层
.ant-table-cell-fix-right {
  z-index: 0 !important;
}

// 预览图片背景色
.ant-image-preview-img {
  background-color: #fff;
}
.ant-table-tbody > tr.target-top > td {
  border-top: 2px #f4c820 solid;
}

.ant-table-tbody > tr.target-bottom > td {
  border-bottom: 2px #f4c820 solid;
}
