/**
 * 文本溢出
 * @param 容器宽度
*/
@mixin truncate($width: 100%) {
  width: $width;
  display: block;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

/**
 * 多行省略号
 * @param 行数
 */
@mixin ellipsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  word-break: break-all;
  /* break-all(允许在单词内换行。) */
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin clearfix() {
  &:after {
    clear: both;
    display: block;
    content: '';
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}