.block {
  padding: 10px 0px;
}
.flash-table-expand {
  font-size: 0;
}
.flash-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.user{
  padding:10px;
}
.user > strong {
  color: #777;
  font-size:15px;
  font-weight: 400;
}

.user > small {
  color: #9E9E9E;
}

.user-content {
  box-shadow: 2px 2px 4px #edecec;
  min-height: 500px;
}

.user-content > .profile {
  background: #edecec;
  padding: 10px;
  height: 500px;
  width: 220px;
}
.user-content>.profile>img{
  width:100%;
}

a{
  color:lightblue;
}

.el-select{
  width:100%;
}
.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-range-editor .el-range-separator {
  padding: 0 !important;
}
.img-list {
  display: block !important;
}
.img-list>div>img {
  position: static !important;
  transform: none !important;
}

.text-btn-style {
  color: #409eff;
  cursor: pointer;
}

.meaning-wrap .meaning-item {
  margin-bottom: 20px;
}

.meaning-wrap .meaning-item .tit {
  font-weight: 600;
  font-size: 15px;
}

.meaning-wrap .meaning-item .sub {
  font-size: 14px;
  line-height: 22px;
}

.red-label {
  color: #ff0000;
}

.blue-label {
  color: #409eff;
  cursor: pointer
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
